@media (min-width: 768px) {
.header
.navbar{
    background-color: #90D5FF;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 24px;
}
.logo{
    width: 50px;
}
.carrinho{
    width: 50px;
}
